body {
  font-family: Arial;
  font-size: 80%;
}

ul.expected {
  font-family: Courier;
}

ul.output {
  font-family: Courier;
  background-color: white;
  border: 1px solid #999999;
  padding: 10px 30px 10px 30px;
}

ul.output li {
  margin-bottom: 10px;
}

ul.output li code {  
  font-size: 1.2em;
  color: blue;
}